body{
    font-family: 'Lato', sans-serif;
}

#footer{
    background-color: white;
    color: #BAFFDF;
}

#nav{
    background-color: #7C7287;
}

#footer{
    background-color: #7C7287;
}

.navbar-brand{
    color: #BAFFDF !important;
}

.nav-link{
    color: #BAFFDF !important;
}

h2{
    color: #BAFFDF;
}